
<mat-toolbar color="primary" class="mat-elevation-z6" class="navbar">

    <a mat-button routerLink="home" class="nab">VRODA</a>

    <div class="indent">
        <div class="search-container">
            <form [formGroup]="searchForm">
              <input type="text" placeholder="Search.." name="search" class="searchInput" formControlName="search">
              <button type="submit" (click)="Search()"><i class="fa fa-search"></i></button>
            </form>
          </div>
        <a mat-button routerLink="contact" class="nab_btn">Contact Us</a>
        <a mat-button routerLink="cart" class="nab_btn">My Cart</a>
        <a mat-button routerLink="account" class="nab_btn">My Account</a>
    </div>
</mat-toolbar>
