/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';


body{margin-top:20px;
    background:#ddd;
    }
    
    
    /*
    * @subsection Shop
    */

    .wrapper{
        display:flex;
        flex-direction: row;
        justify-content: center;
        /* width:500px;
        height:300px; */
    }

    .smolcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


    }
    
    .title{
        font-size: 32px;
        margin-top: 20px ;
      margin-bottom: 20px ;
    }
    .update{
      color:green;
  }
    /* .smolcontainer{
        display:flex;
        flex-direction: vertical;
        align-items: center
    } */
    .product {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .product.tumbnail {
      box-shadow: 0 5px 25px 0 transparent;
      transition: 0.3s linear;
      padding-top: 0;
    }
    
    .product.tumbnail img:hover {
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    }

    span{
        display:block;
        width:500px;
        max-width: max-content;
        word-wrap:break-word;
        text-align: center;
    }
    
    
    @media (max-width: 767px) {
      .single-product .table-mobile tr {
        padding-top: 0;
      }
      .single-product .table-mobile tr:before {
        display: none;
      }
    }
    
    .price {
      display: inline-block;
      font-size: 25px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      letter-spacing: 0.02em;
      margin-top: 20px ;
      margin-bottom: 20px ;
      color: #2b2f3e;
    }

    .invisible {
      visibility: hidden;
      position: absolute;
      top: -9999px;
  }
    
    .quantity {
      text-align: center;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
      font-size: 12px;
      background: #eceff1;
      padding: 5px 10px 5px 10px;
      /* margin-top: 20px ;*/
      margin-bottom: 20px ; 
      width: 90px;
      height: auto;
      display: inline-block;
    }

    #delete{
      background-color: #dc143c;
      color: white;
    }

    #paypal{
      margin-top: -130px;
      width: 150px;
      margin-left: 700px;
    }

    #checkout{
      background-image: url("paypal.png");
        height: 50px;
        width: 200px;
        margin-top: -220px;
        margin-left: 700px;
        border-radius: 12px;

    }
    
    
    .picture{
        width: 350px;
        height: 280px;
    }
    .container{
      margin-top: 20px;
    }

    .catalog{
      font-size: 28px;
    }

    .nab_btn:hover{
      text-decoration: none;
      color:white;
    }
    .nab_btn{
      text-decoration: none;
      float:right;
      display: block;
      text-align: end;
      background-color: lightgray;
    }
    .nab_btn2{
      text-decoration: none;
      display: inline-block;
      background-color: lightgray;
    }

    #tax{
      margin-left: 150px;
      margin-top: -80px;
    }
    #taxText{
      margin-left: 150px;
    }

    #tot{
      margin-left: 500px;
      margin-top: -60px;
    }

    #totText{
      margin-left: 500px;
    }

    #deliveryTxt{
      margin-left: 300px;
      margin-top: -80px;
    }

    #delivery{
      margin-left: 300px;
    }


    