<div class="container bootstrap snipets">
    <h1 class="text-center text-muted catalog">VRODA Catalog</h1>
    <hr>
    <div class="wrapper">
        
        <img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt="" class="picture">


        <div class="smolcontainer">
        <h3 class="title">{{product.title}}</h3>
        <br>
        <span class="price">${{product.price}}</span>
        <br>
        <span class="quantity">{{product.quantity}}</span>
        <br>
        <span class="description">{{product.description}}</span>
        </div>
        <br>
        
        

    </div>
 
    <hr>
    <a mat-button (click)="deleteProductById(product.productId)" class="nab_btn2">Delete</a>
  </div>